@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body {
    background-color: black;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
} img {
    width: 40%;
    height: auto;
} .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} h1 {
    font-size: 50px;
} a {
    font-size: 50px;
    text-decoration: none;
    color: white;
    padding: 20px;
    border-radius: 20px;
    display: block;
    margin-left: 100px;
    margin-right: 100px;
} .first-link {
    background-color: #3B82F6;
} .second-link {
    background-color: #6366F1;
} .musk-photo {
    width: 100%;
    border-radius: 50px;
}